.code-block {
  // display: grid;
  // justify-self: center;
  // align-self: center;
  // width: fit-content;
  // max-width: fit-content;
}

.code-block-header {
  height: 30px;
  display: flex;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #2d333b;
  border: 1px solid #444c56;
  justify-content: start;
}

.language-name {
  color: #fff;
  line-height: 1;
  align-self: center;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;

  &::first-letter {
    text-transform: uppercase;
  }
}

pre {
  display: flex;
  margin-top: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #444c56;
  border-top: none;
  background-color: #22272e;
  margin-left: auto;
  margin-right: auto;
  // word-wrap: break-word;
  // white-space: pre-wrap;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

code {
  font-family: CascadiaMono;
  font-size: 13px;
  font-weight: 400;
  padding: 3px 5px;
  line-height: 20px;
  border-radius: 0.25rem;
}

// @media (max-width: 600px) {
//   code {
//     font-size: 12px;
//   }
// }

pre code {
  display: block;
  padding: 0.5em 0.5em;
}

/* PreWrapper */
.pynx {
  color: #fff;
  // background-color: #1e1e2e;
}

.pynx .line {
  display: flex;
  padding-bottom: 2px;
}

.pynx .ln {
  color: #838b9e;
  font-weight: 400;
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.5em;
  padding: 0 0.4em 0 0.4em;
}

/* Error */
.pynx .err {
  color: #ff5b89;
}

/* LineLink */
.pynx .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineTableTD */
.pynx .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.pynx .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.pynx .hl {
  background-color: #343442;
}

/* LineNumbersTable */
.pynx .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7d5943;
}

/* Keyword */
.pynx {
  .kc {
    color: #ff8f40;
    font-style: italic;
  }
  .kp {
    color: #ff8f40;
    font-weight: bold;
  }
  .kd,
  .kn,
  .kr {
    color: #ff8f40;
  }
}

.pynx .k {
  color: #ff4d40;
}

/* KeywordType */
.pynx .kt {
  color: #39bae6;
}

.pynx .m {
  color: #39bae6;
}

/* Name */
.pynx .n {
  color: #39bae6;
}

/* NameAttribute */
.pynx .na {
  color: #39bae6;
}

/* NameBuiltin */
.pynx .nb {
  color: #f0634b;
  font-style: italic;
}

/* NameBuiltinPseudo */
.pynx .bp {
  color: #b4befe;
}

/* NameClass */
.pynx .nc {
  color: #39bae6;
}

/* NameConstant */
.pynx .no {
  color: #39bae6;
}

/* NameDecorator */
.pynx .nd {
  color: #ff8f40;
}

/* NameEntity */
.pynx .ni {
  color: #ff8f40;
}

/* NameException */
.pynx .ne {
  color: #eba0ac;
}

/* NameFunction */
.pynx .nf {
  color: #ffb454;
}

.pynx .mi {
  color: #c6a6ff;
}

/* NameFunctionMagic */
.pynx .fm {
  color: #b4befe;
}

/* NameLabel */
.pynx .nl {
  color: #39bae6;
}

/* NameNamespace */
.pynx .nn {
  color: #39bae6;
}

/* NameProperty */
.pynx .py {
  color: #b4befe;
}

/* NameTag */
.pynx .nt {
  color: #cba6f7;
}

/* NameVariableClass */
.pynx .vc {
  color: #b4befe;
}

/* NameVariableGlobal */
.pynx .vg {
  color: #b4befe;
}

/* NameVariableInstance */
.pynx .vi {
  color: #b4befe;
}

/* NameVariableMagic */
.pynx .vm {
  color: #b4befe;
}

.pynx {
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: #aad94c;
  }
}

/* Operator */
.pynx .o {
  color: #f29668;
}

/* OperatorWord */
.pynx .ow {
  color: #f29668;
  font-weight: bold;
}

/* Punctuation */
.pynx .p {
  color: #da70d6;
}

/* Comment */
.pynx .c {
  color: #585b70;
  font-style: italic;
}

/* CommentHashbang */
.pynx .ch {
  color: #585b70;
  font-style: italic;
}

/* CommentMultiline */
.pynx .cm {
  color: #585b70;
  font-style: italic;
}

/* CommentSingle */
.pynx .c1 {
  color: #585b70;
  font-style: italic;
}

/* CommentSpecial */
.pynx .cs {
  color: #585b70;
  font-style: italic;
}

/* CommentPreproc */
.pynx .cp {
  color: #89b4fa;
  font-style: italic;
}

/* CommentPreprocFile */
.pynx .cpf {
  color: #89b4fa;
  font-style: italic;
}

/* GenericDeleted */
.pynx .gd {
  color: #eba0ac;
}

/* GenericEmph */
.pynx .ge {
  font-style: italic;
}

/* GenericError */
.pynx .gr {
  color: #eba0ac;
}

/* GenericHeading */
.pynx .gh {
  color: #f29668;
  font-weight: bold;
}

/* GenericInserted */
.pynx .gi {
  color: #a6e3a1;
}

/* GenericPrompt */
.pynx .gp {
  color: #6c7086;
  font-weight: bold;
}

/* GenericStrong */
.pynx .gs {
  font-weight: bold;
}

/* GenericSubheading */
.pynx .gu {
  color: #f29668;
  font-weight: bold;
}

/* GenericTraceback */
.pynx .gt {
  color: #eba0ac;
}

/* TextWhitespace */
.pynx .w {
  color: #313244;
}
