@font-face {
  font-family: "Quicksand";
  src: url("/static/fonts/Quicksand.ttf") format("truetype");
}

@font-face {
  font-family: "CascadiaMono";
  src: url("/static/fonts/CascadiaMono.woff2") format("woff2");
}
