@import "_fonts.scss";
@import "_variables.scss";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background: var(--html-bgc);
  color: var(--font-color);
  min-height: 100vh;

  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: transparent;

  &:vertical {
    width: 5px;
  }
}

::-webkit-scrollbar-thumb:horizontal {
  background: #b1b1b150;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  width: 1px;
  background: #c9c9c923;
  border-radius: 10px;

  &:hover {
    background: #9b9b9b;
  }
}

@media (pointer: none), (pointer: coarse) {
  ::-webkit-scrollbar-thumb:horizontal {
    border: 1px solid transparent;
    margin-left: 10px;
  }
}

// ::-webkit-scrollbar-thumb:horizontal {
//   background: #c9c9c923;
//   border-radius: 4px;

//   &:hover {
//     background: #9b9b9b;
//   }
// }

header {
  display: grid;
  padding: 10px 0 0px 0;
  justify-items: center;

  & h1 {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 28px;
  }

  & svg.main-logo {
    margin-top: 15px;
    height: 125px;
  }
}

.topper {
  display: grid;
  z-index: 100;
  top: 0px;
  position: sticky;
  // background-color: #181920;
  // border-bottom: 1px solid #09090c;
  // margin-bottom: 25px;
}

// includes
@import "./includes/_navbar.scss";

// views
@import "./views/_index.scss";
@import "./views/_blog_post.scss";

@import "./components/_code_blocks.scss";
